@use 'partials/colors';

* {
    font-family: 'Comic Sans MS';
}

body {
    margin: 0;
}

.footer {
    background-color: colors.$background-secondary;
    padding: 0.5rem 1rem;

    &__link {
        color: colors.$nav-link
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: colors.$background-secondary;
}

.title {
    margin: 0;
    padding: 1rem 0 0 0;
}

.nav {
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem;

    &__link {
        text-decoration: none;
        color: colors.$nav-link;

        &--active {
            border-bottom: 2px solid colors.$nav-link
        }
    }
}

.blog-entry {
    margin-left: 1rem;

    &__photo {
        width: 95%;
    }
}

.blog-archive {
    border: .25rem dotted violet;
    margin: 1rem;
    padding: 1rem;
    background-color: beige;

    &__header {
        margin: 0;
    }
}